body {
    font-family: 'Bowlby One', cursive;
    color: #1a1a1a;
    background-color: #f0f0f0; 
}

h2
{
    margin: 0;
    font-weight: 600; 
}

.button {
    color: #ffffff;
    background-color: rgb(2, 2, 110);
    padding: 12px 25px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all .2s; 
}

.button:hover, .button:active, .button:focus {
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
    }


.list {
    padding-left: 0;
    list-style: none; 
}

.listRow {
    margin-bottom: 25px; 
}

.listRow label {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .5px;
    color: #939393; 
}

.listRow--inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; 
}

.listRow--inline > :first-child {
    -ms-flex: 2;
    flex: 1;
}


.bodyrservice{
    margin-right: 10px;
}

.price{
    color: red;
}

#model{
    margin-left: 10px;
}

.listInput-inline {
    margin-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; 
}

.modal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 200px;
    z-index: 100; 
    overflow-y: auto;
}

.modalContainer {
    display: -ms-flexbox;
    display: flex;
    max-width: 975px;
    min-height: 400px;
    margin-bottom: 125px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); 
}

.modalFeatured {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    min-width: 230px;
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}


.modalBookingSuccessImage {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 85%;
    -ms-transform: translateX(calc(-50% - 10px));
    transform: translateX(calc(-50% - 10px));
    margin-top: 85px;
    margin-left: 30px;
}
.modalContent {
  -ms-flex: 3;
  flex: 3;
  padding: 40px 30px; 
  margin-top: 40px;
  margin-right: 80px;
} 