:root{
    --blue:rgb(2, 2, 110);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

*::selection{
    background:var(--blue);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:2rem 7%;
    background:var(--blue);
}

header .logo{
    font-family: 'Bowlby One', cursive;
    color: rgba(255, 255, 255, 0.596);
    text-shadow: 20px 0px 10px rgb(0, 0, 0);
    font-size: 2.5rem;
    color:#fff;   
}

header .logo i{
    padding:0 .5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li a{
    font-size: 2rem;
    margin-left: 2rem;
    color:#fff;
    position: relative;
}

header .navbar ul li a::before{
    content: '';
    position: absolute;
    bottom:-.5rem; right:0;
    width:0%;
    height:.2rem;
    background:#fff;
    transition: .2s linear;
}

header .navbar ul li a.active::before,
header .navbar ul li a:hover::before{
    left:0;
    width:100%;
}

header #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

.heading{
    padding:.5rem 2rem;
    font-size: 2rem;
    background:rgba(0,0,0,.1);
    color:var(--blue);
    display: inline-block;
    margin:1rem 0;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background:url(../images/homg-img.png) no-repeat; */
    background-size: 140% 85%;
    background-position: top;
    padding:1.5rem 7%;
    padding-top: 4rem;;
}

.home .image{
    flex:1 1 40rem;
    padding-top: 6rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
    padding-top: 5rem;
}

.home .content h1{
    font-size: 4rem;
    color:rgb(2, 2, 110);
}

.home .content p{
    font-size: 1.8rem;
    /* color:#eee; */
    padding:.5rem 0;
}

.home .content .btn{
    background:#fff;
    color:rgb(2, 2, 110);
}

.home .content .btn:hover{
    color:#fff;
}

/* BUTTON */

.btn{
    font-size: 2rem;
    padding:.7rem 3.5rem;
    border-radius: 5rem;
    color:#fff;
    background:var(--blue);
    margin-top: 1rem;
    box-shadow: 0 .3rem .5rem rgb(2, 2, 110);
    cursor: pointer;
    border:none;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    height:100%;
    width:0%;
    background:rgb(2, 2, 110);
    z-index: -1;
    transition: .2s linear;
}

.btn:hover::before{
    left: 0;
    width:100%;
}


/* FOOTER */

.footer{
    background:#eee;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 30rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--blue);
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:rgb(2, 2, 110);
    padding:1rem 0;
}

.footer .box-container .box p i{
    padding:0 .5rem;
    color:var(--blue);
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box a{
    font-size: 1.8rem;
    display:block;
    color:rgb(2, 2, 110);
    padding:.5rem 0;
}

.footer a:hover{
    text-decoration: underline;
}

.footer .credit{
    padding:2rem 1rem;
    text-align: center;
    background:rgb(2, 2, 110);
    color:#eee;
    font-size: 2rem;
}

.footer .credit a{
    color:#fff;
}


/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }
    
    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width:100%;
        background:#fff;
        opacity: 0;
    }

    header .navbar ul{
        padding:2rem 0;
        flex-flow: column;
        justify-content: center;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        color:rgb(2, 2, 110);
        display: block;
        margin:1rem 0;
    }

    header .navbar ul li a::before{
        background:rgb(2, 2, 110);
    }

    header .navbar.nav-toggle{
        top:7.4rem;
        opacity: 1;
    }

    .home .content{
        text-align: center;
    }

    .contact form{
        width:95%;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .home .content h1{
        font-size: 3.5rem;
    }

    .about .image img{
        width:80%;
        height:auto;
    }

    .contact form .inputBox input{
        width:100%; 
    }

}