.services{  
    min-height: 100vh;
    text-align: center;
    padding-top: 7rem;
}

.services .description{
    padding:1rem 0;
    margin:0 auto;
    width:70rem;
    color:#666;
    font-size: 1.5rem;
}

.services .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.services .box-container .box{
    margin:2rem;
    width:28rem;
    z-index: 0;
    position: relative;
}

.services .box-container .box::before{
    content: '';
    position: absolute;
    top:32.5%; left:50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background:var(--blue);
    height: 10rem;
    width: 10rem;
    z-index: -1;
    box-shadow: 0 0 0 1rem rgba(0, 0, 255, .1);
}

.services .box-container .box img{
    color:#000;
    font-size: 4.5rem;
    margin:8rem 0;
}

.services .box-container .box h3{
    color:#333;
    font-size: 2rem;
}

.services .box-container .box p{
    color:#666;
    font-size: 1.2rem;
    padding:1rem 0;
}

.services .description{
    width:auto;
    padding:1rem;
}
